{% extends 'Base_index.html' %}
{% block script_include %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
{% endblock %}


{% block header %}
    <div class="bg_header"></div>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
    </div>
{% endblock %}

{% block content %}
    <div class="div_content">
        <div class="graph">
            <canvas id="myChart" width="600" height="400"></canvas>
            <script>
                // Global parameters:
                // do not resize the chart canvas when its container does (keep at 600x400px)
                Chart.defaults.global.responsive = false;

                // define the chart data
                var chartData = {
                    labels: [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
                    datasets: [{
                        label: '',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: [{% for item in values %}
                            {{item}},
                        {% endfor %}],
                        spanGaps: false
                    }]
                }

                // get chart canvas
                var holder = document.getElementById("myChart");
                var ctx = document.getElementById("myChart").getContext("2d");

                // create the chart using the chart canvas
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: {
                        tooltips: {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function (tooltipItems, data) {
                                    return tooltipItems.yLabel + ' USD';
                                }
                            }
                        },
                    }
                });

                // get the text element below the chart
                var pointSelected = document.getElementById("pointSelected");

                // create a callback function for updating the selected index on the chart
                holder.onclick = function (evt) {
                    var activePoint = myChart.getElementAtEvent(evt);
                    console.log(activePoint);
                    console.log('x:' + activePoint[0]._view.x);
                    console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
                    console.log('y: ' + activePoint[0]._view.y);
                    console.log('index: ' + activePoint[0]._index);
                    pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
                };
            </script>
        </div>
        <div class="table_content">
            <div class="total_price">
                <h1>TOTAL</h1>
                <p>{{ total }}</p>
            </div>
            <div class="div_table">
                <table>
                    <tr>
                        <th> #</th>
                        <th> Заказ №</th>
                        <th> Стоимость USD</th>
                        <th> Стоимость RUB</th>
                        <th> Сроки поставки</th>
                    </tr>

                    {% for item in items %}
                        <tr>
                            <td align="center"> {{ item.id }} </td>
                            <td align="center"> {{ item.order }} </td>
                            <td align="center"> {{ item.price_usd }} </td>
                            <td align="center"> {{ item.price_rub }} </td>
                            <td align="center"> {{ item.delivery_time }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}